<!-- <div class="card" style="background:blue;color:white;">Customer Manager</div> -->
<div class="col-md-10">
<div class="card">
<div class="card-header">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['registration']">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['customer']">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[{outlets:{secondary:['welcome']}}]">Secondary Router</a>
          </li>
        </ul>
</div>
<div class="card-body"><router-outlet></router-outlet></div>
</div>
</div>
<div class="col-md-2">
  <router-outlet name="secondary"></router-outlet>
</div>

<!-- <app-customer></app-customer> -->
<!-- <app-login></app-login> -->
<!-- <app-registration></app-registration> -->